* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

html,
body {
    width: 100%;
}

.card-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120vh;
    width: 100%;

}

.card-detail__func {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-detail__func button {
    align-self: flex-start;
    margin: 2rem 2rem 0 2rem;
}

.card-detail img {
    width: 20rem;
    border-radius: 2rem;
    border: 1px solid #023E8A;
    margin-top: 3rem;
}

.card-detail video {
    max-width: 30rem;
    border: 2px solid #023E8A;
    border-radius: 1rem;
}

.card-detail p {
    line-height: 3rem;
    margin: 0 2rem;
}

.card-detail button {
    background: none;
    border: none;
    color: #023E8A;
}

.navigation {
    background-color: #023E8A;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    position: fixed;
    justify-content: space-around;
}

.navigation a {
    color: #6d6875;
}

ul {
    margin-top: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    border: 1px solid black;
    width: 100%;
    font-size: larger;
}

.comments {
    display: flex;
    flex-direction: column;
}

dialog {
    width: 60%;
    border-radius: 2rem;
    height: 40vh;
    position: fixed;
    top: 40%;
    left: 20%;
    bottom: 50%;
    right: 50%;
    border: 2px solid #023E8A
}

dialog form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

dialog form textarea {
    border-radius: 1rem;
}

dialog form .send-button {
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    background-color: #023E8A;
}

.comment-button {
    margin-top: 2rem;
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    background-color: #023E8A;

}