@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

*{box-sizing: border-box;
list-style: none;}

html, body{
margin: 0;
padding: 0;
}

h1{font-family: 'Lora', serif;
font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: scroll;
    margin: 0;
    padding: 0;

}

ul li{
    margin: 0 2rem;
}

.welcome{
    display: flex;
    width: 40vh;
    align-items: center ;
    justify-content: space-around;
}
