* {
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

.header-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

}

.header-auth h2 h6 {
    font-family: "Old Church";
}


.back {
    margin-left: 2rem;
    background: none;
    border: none;
    color: #023E8A;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login button {
    margin-top: 2rem;
    width: 12rem;
    height: 4rem;
}