@import url('//db.onlinewebfonts.com/c/3a5af446226c125207a9a09c9e1abd30?family=Old+Church');

* {
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.header-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: "Old Church";
}

.buttons-container {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons-container a {
    text-decoration: none;
}

.buttons-container button {
    width: 12rem;
    height: 4rem;

}