@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

li img{
    width: 8rem;
    clip-path: circle(30% at 50% 42%); 
}

ul{
    display: flex;
    flex-direction: column;
    
}

ul a{
    margin: 1rem 1rem;
    text-decoration: none;
    color: black;
}

.card-profesional{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    margin: 0;

}

.search-filter{
    display: flex;
    flex-direction: column;
}

.search-filter .select{
    width: 5rem;
    height: 3rem;
    font-family: 'Fira Sans', sans-serif;

}

.container-search{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.searcher{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 3rem;
    width: 20rem;
    height: 3rem;
}

.searcher input{
    border: none;
    width: 85%;
    height: 100%;
    font-size: larger;
}

select{
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
}